* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	padding-top: 60px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

table,
th,
td {
	border-collapse: collapse;
	border: 1px solid rgb(218, 218, 218);
	background-color: rgb(42, 42, 42);
	color: whitesmoke;
}

table {
	border-radius: 15px;
	overflow: hidden;
}

th {
	padding: 8px;
}

td {
	padding: 8px;
}

.header-bar {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.button-group {
	display: flex;
	padding: 4px;
	gap: 4px;
}

.btn-tambah {
	padding: 8px 12px 8px 12px;
	background-color: blue;
	color: whitesmoke;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	text-decoration: none;
}

.btn-ubah {
	padding: 8px 12px 8px 12px;
	background-color: lightgreen;
	color: whitesmoke;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	text-decoration: none;
}

.btn-hapus {
	padding: 8px 12px 8px 12px;
	background-color: red;
	color: whitesmoke;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}
